#app .nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active 
  border-bottom-color: #ff6060;

.page a
  color: #ff6060;

.sidebar-links .sidebar-heading.clickable.active 
  color: #ff6060;
  border-left-color: #ff6060;

.sidebar-links a.sidebar-link.active 
  color: #ff6060;
  border-left-color: #ff6060;

.sidebar-links a.sidebar-link:hover
  color: #ff6060;